<h2>Products</h2>

<div *ngFor="let product of products">

  <a
    [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]">
    <p *ngIf="product.image_src"> <img src = "{{ product.image_src }}" alt='image' width ="100px" height="100px" style="margin-left: auto; margin-right:auto; display:block;"> </p>
  </a>
  
  <h3 style="text-align: center;">
    <a
    [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description" style="text-align: center;">Description: {{ product.description }}</p>

  <button type="button" (click)="share()">Share</button>

  <app-products-alerts [product]="product" (notify)="onNotify()"> </app-products-alerts>

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
